/***FONTS*****/

@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light|Sigmar+One|Lobster|Patua+One|Architects+Daughter|Kaushan+Script|Fredoka+One|Rock+Salt|Shadows+Into+Light+Two|Permanent+Marker|Handlee|Great+Vibes|Just+Another+Hand|Niconne|Limelight|Damion|Calligraffitti|Audiowide|Bad+Script);

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/*font-family: 'Poiret One', cursive;*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,400italic,600,600italic);
/* font-family: 'Josefin Sans', sans-serif;*/

@import url(https://fonts.googleapis.com/css?family=Quattrocento:400,700);
/*font-family: 'Quattrocento', serif;*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Righteous);
/*font-family: 'Fredericka the Great', cursive;
font-family: 'Righteous', cursive; */

@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
/*font-family: 'Slabo 27px', serif;*/
/******************************************************************/


html, body {
    margin: 0;
    font-family: 'Poiret One', cursive;
    color: #000;
    box-sizing:border-box;
    background-color: black;
}

#wrapper1, #wrapper2 {
    height: 100%;
    width: 100%;
}

#bg1 {
    height: 1000px;
    width: 100%;
    background-image: url("../assets/assets/h_img.jpg");
    text-align: center;
    color: white;
}

#bg1 h1 {
    font-size: 70px;
}

#bg1 p {
    font-size: 1.8em;
}

#bg1 .text {
    position: absolute;
    top: 300px;
    width: 100%;
}

/*<!--Div2:About US-->*/
#div2, #div3, #div4 {
    top: 30px;
    height: 488px;
    position: relative;
}

/* Aligning center */
.parent {
    position: relative;

}

.mid {
    /*aligning vertically*/
    position: absolute; /*parent div should be relatively positioned*/
    top: 50%;
    transform: translate(0, -50%);
    /*aligning horizontally*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#div2 {
    width: 100%;
    background-color: cornsilk;
    text-align: center;
}

h1 {
    font-weight: bold;
    letter-spacing: 1.5px;
}

h3 {
    font-size: 1.6em;
}

p {
    font-size: 1.2em;
    font-weight: bold;
}

 /*<!--Div3: Services-->*/

#div3 {
    background-image: url("../assets/assets/s_image.jpg");
    color: white;
    width: 100%;
    text-align: center;
}

#div3.text2 {
    position: absolute;
    top: 100px;
    left: 33%
}

/*<!--Div4: What we do-->*/
#div4 {
    width: 100%;
    background-color: cornsilk;
    text-align: center;
}


/*<!----Div5 Portfolio ---->*/

#div5 {
    width: 100%;
    height: 100%;
    background-color: cornsilk;
    text-align: center;
}


#layer1, #layer2 {
    height: 50%;
    width: 100%;
    display: block;

}

.image {
    width:  366px;
    height: 360px;
    float: left;
}
